<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Team {{ data.team }}</title>
        <style>
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
        .chatbox {
            margin-top: 16px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-style: inset;
            border-width: 2px;
            height: 600px;
            width: 95%;
            padding: 2px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: left;
        }
        div {
            font-family: Verdana, sans-serif;
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Team {{ data.team }} Chat</h1>
        <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
        </form>
        <div class="column" style="float:left; width: 50%;">
            <div id="chatbox" class="chatbox">
            </div>
            <a href="/">Back to Home Page</a>
        </div>
        <div class="column" style="float:left; width: 25%;">
            <h2 id="timer">Time left: 0s</h2>
            <form id="pollForm" action="">
            </form>
        </div>
        <div class="column" style="float:left; width: 25%;">
            <h2 id="scoreHeader">Score</h2>
            <div id="scorebox">
            </div>
        </div>
        <script>
            var client_id = Date.now()
            var ws = new WebSocket(`ws://localhost:8000/ws/chat`);
            var chatbox = document.getElementById("chatbox");
            var timer = document.getElementById("timer");
            var scorebox = document.getElementById("scorebox");
            var form = document.getElementById("pollForm");
            var secs = 0;
            setInterval(function() {
                if (secs >= 0) {
                    if (secs == 0) {
                        $("#pollForm :input").prop("disabled", true);
                    }
                    timer.innerHTML = `Time left: ${secs}s`;
                    secs -= 1;
                }
            }, 1000);
            ws.onmessage = function(event) {
                if (event.data.startsWith("clearchat:")) {
                    chatbox.innerHTML = "";
                }
                if (event.data.startsWith("c:")) {
                    var text = event.data.substr(2);
                    var newDiv = document.createElement("div");
                    newDiv.innerHTML = text;
                    chatbox.appendChild(newDiv);
                    chatbox.scrollTop = chatbox.scrollHeight;
                }
                if (event.data.startsWith("img:")) {
                    var url = event.data.substr(4);
                    var newDiv = document.createElement("div");
                    newDiv.innerHTML = "admin:";
                    chatbox.appendChild(newDiv);
                    newDiv = document.createElement("div");
                    var img = document.createElement("img");
                    img.setAttribute("src", url);
                    newDiv.appendChild(img);
                    chatbox.appendChild(newDiv);
                    chatbox.scrollTop = chatbox.scrollHeight;
                }
                if (event.data.startsWith("hide:")) {
                    chatbox.style.visibility = "hidden";
                }
                if (event.data.startsWith("show:")) {
                    chatbox.style.visibility = "visible";
                }
                if (event.data.startsWith("timer:")) {
                    secs = Number(event.data.substr(6));
                }
                if (event.data.startsWith("score:")) {
                    console.log(event.data.substr(6));
                    scorebox.innerHTML = event.data.substr(6);
                }
                if (event.data.startsWith("form:")) {
                    form.innerHTML = "";
                    console.log(event.data.substr(5));
                    const questions = JSON.parse(event.data.substr(5));
                    for (var i = 0; i < questions.length; i++) {
                        const question = questions[i];
                        var questionText = document.createElement("p");
                        questionText.innerHTML = question.question;
                        form.appendChild(questionText);
                        for (var j = 0; j < question.options.length; j++) {
                            const option = question.options[j];
                            var radio = document.createElement("input");
                            radio.setAttribute("type", "radio");
                            radio.setAttribute("name", `q${i}`);
                            radio.setAttribute("value", option);
                            form.appendChild(radio);
                            var label = document.createElement("label");
                            label.setAttribute("for", `q${question.number}`);
                            label.innerHTML = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[j] + ": " + option;
                            form.appendChild(label);
                            var br = document.createElement("br");
                            form.appendChild(br);
                        }
                    }
                    var br = document.createElement("br");
                    form.appendChild(br);
                    var submit = document.createElement("input");
                    submit.setAttribute("type", "submit");
                    submit.setAttribute("value", "Submit");
                    form.appendChild(submit);
                }
                if (event.data.startsWith("disable:")) {
                    $("#pollForm :input").prop("disabled", true);
                    secs = 0;
                }
            }
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }

            $("#pollForm").on("submit", function (e) {
                e.preventDefault();
                var arr = $(this).serializeArray();
                var json = {}
                $.each(arr, function() {
                    json[this.name] = this.value || '';
                });
                postData = `{ "data": ${JSON.stringify(JSON.stringify(json))} }`;
                $.ajax({
                    url: "/form",
                    type: "POST",
                    data: postData
                });
                $("#pollForm :input").prop("disabled", true);
            });
        </script>
    </body>
</html>
